/* General Stuff */
header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #33534a
}
body {
    background-color: #bcc595;
} 
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #33534a;
  }

/* Button */
.centered-btn {
    text-align: center;
}
.styled-btn {
    background-color: #33534a;
    border: none;
    color: #bcc595;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #4e4e4e;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;

  }
.styled-btn:hover {
    background-color: #839f4b;
    color: #004a13
}

/* Navigation Bar */
nav {
    color: #fff;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #33534a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  
